body{
    padding: 0;
    margin: 0;

    display: flex;


}

#calculator_container
{
    background-color: black;
    padding: 30px;
    margin: 0px;
}

#screen_container
{
    height: 125px;
    width: 500px;
}

#button_container
{
    
    width: 500px;
    height: 500px;

    padding: 0px;
    margin: 0px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    gap: 0px;
}

.button
{
    height: 125px;
    width: 125px;

    padding: 0;
    margin: 0;
    background-color: antiquewhite;
}

.button:hover
{
    opacity: 0.8;
}